@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    text-decoration: none;
    margin: 0px; 
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif; 
}

.menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    position: fixed;
    z-index:1;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: black;
    margin-left: 160px;
    padding: 5px;
    float: left;
}

.menu ul {
    margin: 0px;
    padding: 5px;
    background: none;
    display: block;
    float: right;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #000;
}

.menu ul li a:hover {
    display: block;
    color: #000;
    background-color: #dedede;
}

.menu ul li .dropdown{
    display: none;
    z-index: 3;
    
}

.menu ul li:hover .dropdown{
    display: block;
    background: #fff;
    position: absolute;
    padding: 5px;
    z-index: 2;
}

.menu ul li:hover .dropdown li{
    display: block;
}

.menu ul li:hover .dropdown li a{
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 3px;
}

.menu ul li:hover .dropdown li a:hover{
   background: #7c7c7c;
}

.container{
    background-color: #fff;
    padding: 20px 0 0 0;
}

.content-slide{
    max-width: 2560px;
    position: relative;
    margin: 0;
}

.imgslide{
    display: block;
}

img{
    vertical-align: middle;
    width: 100%;
    height: 600px;
}

.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover{
    background-color: rgba(225, 225, 225, 0.8);
    color: rgb(0, 0, 0);
}

.text{
    color: #fff;
    font-size: 18px;
    padding: 50px 100 px;
    position: absolute;
    bottom: 0;
    width: 35%;
    font-weight: bold;
    text-align: left;
    background-color: #000;
    opacity: 70%;
    margin-bottom: 150px;
    margin-left: 100px;
}

.content-slide .numberslide{
    color: #fff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* responsive */
@media screen {
    .content-slide{
        padding: 8px 50px 12px 50px;
    }

    .next{
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

@keyframes fade{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}

.container .page{
    text-align: center;
}

.page .dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover{
    background-color: #717171;
}

.icon{
    text-align: center;
}

.title{
    text-align: center;
}

.description{
    color: #fff;
}

.values h2{
    padding-top: 50px;
}
.values .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:3rem;
}
.values .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    background: #40dbe0;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  
  .values .icon-box::before {
    content: "";
    position: absolute;
    background: #d9f1f2;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .values .icon-box:hover::before {
    background: #717171;
    top: 0;
    border-radius: 0px;
  }
  
  .values .icon {
    margin-bottom: 15px;
  }
  
  .values .icon i {
    font-size: 48px;
    line-height: 1;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .values .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .values .title a {
    color: #fff;
  }
  
  .values .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }
  
  .values .icon-box:hover .title a,
  .values.icon-box:hover .description {
    color: #fff;
  }
  
  .values .icon-box:hover .icon i {
    color: #fff;
  }
    
.contact h2{
    padding-top: 50px;
}
  .contact .php-email-form {
    box-shadow: 0 0 20px rgba(214, 215, 216, 0.5);
    padding: 30px;
    text-align: center;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #3fbbc0;
  }
  
  .contact .php-email-form input {
    padding: 8px 100px;
  }
  
  .contact .php-email-form textarea {
    padding: 15px 100px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #3fbbc0;
    border: 0;
    padding: 10px 150px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #65c9cd;
  }
  